<div class="container">
    
  <header class="bg-secondary-subtle p-3">
    <h1>Hello {{title}}</h1>
  </header>
  <nav class="p-2 bg-primary-subtle">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/teachers" routerLinkActive="active">Teachers</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li> -->
  </ul>
  </nav>
  <main class="p-3 my-3">
    <h2>Main</h2>
    <!-- <h3>Fetch Object</h3>
    <ol>
    @for (item of data | keyvalue; track $index) {
      <li>{{item.key}} - {{item.value}}</li>
    }
    </ol> -->
    <h3>Fetch Array</h3>
    <table class="table">
      <tr><th>ID</th><th>Title</th><th>Description</th><th>Category</th><th>Price</th><th>Image</th><th>Rating</th></tr>
      @for( item of data ; track $index){
        <tr>
          <td>{{item.id}}</td><td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.category}}</td>
          <td>{{item.price}}</td>
          <td><img src="{{item.image}}" alt="{{item.title}}" width="50"></td>
          <td>{{item.rating.rate}}, total ratings: {{item.rating.count}}</td>
        </tr>
      }
    </table>
    <hr>
    <div class="product my-3 clearfix">
        <img class="float-end ms-5" src="{{product.image}}"  alt="{{product.title}}" width="200">
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        <p>Price: {{product.price | currency}}</p>
        <p>Category: {{product.category}}</p>
        <p>Ratings: {{product.rating.rate}}, Total ratings: {{product.rating.count}}</p>
    </div>
    <router-outlet></router-outlet>
  </main>
  <footer class="bg-dark text-white p-3 text-center">
    <p class="m-0">&copy; 2025</p>
  </footer>
</div>